.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
}
@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}
.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}
.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}
.main li:not(:last-of-type) {
  margin-bottom: 8px;
}
.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}
.ctas {
  display: flex;
  gap: 16px;
}
.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: 1px solid transparent;
  box-sizing: border-box;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}
a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 158px;
}
.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}
.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer img {
  flex-shrink: 0;
} /* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }
  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}
@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }
  .main {
    align-items: center;
  }
  .main ol {
    text-align: center;
  }
  .ctas {
    flex-direction: column;
  }
  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }
  a.secondary {
    min-width: auto;
  }
  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
.parallax {
  /* The image used */

  height: 100vh; /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: var(--elevation-inset);
  &Image1 {
    @extend .parallax;
    background-image: url('/salsabaile.jpg'); /* Full height */
  }
  &Image2 {
    @extend .parallax;
    background-image: url('/caliciudad.jpeg'); /* Full height */
  }
  &Image3 {
    @extend .parallax;
    background-image: url('/escuela_de_baile.jpg'); /* Full height */
  }
}

.scrollButton {
  position: absolute;
  bottom: 5%;
  right: 10%;
  border: none;
  border-radius: var(--shape-corner-large);
  display: flex;
  flex-flow: row nowrap;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  transition: all 0.3s;
  gap: 1rem;
  height: 56px;
  width: auto;
  font-size: 24px;
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: var(--elevation-3);
  &:hover,
  &:focus,
  &:active {
    box-shadow: var(--elevation-4);
    background-color: var(--secondary);
    color: var(--on-secondary);
  }
  @media (width < 600px) {
    position: relative;
    width: 100%;
    right: 0;
  }
}

.textParagraph {
  text-align: center;
  box-sizing: border-box;
  align-self: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 50vw;
  padding: 4rem;
  font-size: 1rem;
  @media (width < 600px) {
    width: 100vw;
    padding: 3rem;
  }
}

.contentComponent {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  @media (width<600px) {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: stretch;
    gap: 1rem;
    padding: 1rem;
  }
}

.titleParagraph {
  text-align: center;
  box-sizing: border-box;
  align-self: center;
  display: flex;
  border-radius: var(--shape-corner-large);
  flex-flow: column nowrap;
  justify-content: center;
  padding: 2rem;
  font-family: var(--headline-large-font-family-name);
  font-style: var(--headline-large-font-family-style);
  font-weight: var(--headline-large-font-weight);
  font-size: var(--headline-large-font-size);
  line-height: var(--headline-large-line-height);
  letter-spacing: var(--headline-large-letter-spacing);
  position: absolute;
  bottom: 50%;
  right: 10%;
  color: var(--primary);
  background-color: var(--surface-container-highest);
  box-shadow: var(--elevation-5);
  @media (width < 600px) {
    position: relative;
    width: 100vw;
    padding: 1rem;
    right: 0;
    bottom: 30%;
  }
}

.subtitleParagraph {
  position: absolute;
  bottom: 35%;
  right: 10%;
  text-align: center;
  box-sizing: border-box;
  align-self: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  border-radius: var(--shape-corner-large);
  padding: 2rem;
  font-family: var(--title-medium-font-family-name);
  font-style: var(--title-medium-font-family-style);
  font-weight: var(--title-medium-font-weight);
  font-size: var(--title-medium-font-size);
  line-height: var(--title-medium-line-height);
  letter-spacing: var(--title-medium-letter-spacing);
  color: var(--secondary);
  background-color: var(--surface-container-low);
  box-shadow: var(--elevation-3);
  @media (width < 600px) {
    position: relative;
    width: 100vw;
    padding: 1rem;
    right: 0;
  }
}

.logosBackground {
  position: absolute;
  bottom: 15%;
  right: 10%;
  text-align: center;
  box-sizing: border-box;
  align-self: center;
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
  justify-content: center;
  border-radius: var(--shape-corner-large);
  padding: 2rem;
  font-family: var(--title-medium-font-family-name);
  font-style: var(--title-medium-font-family-style);
  font-weight: var(--title-medium-font-weight);
  font-size: var(--title-medium-font-size);
  line-height: var(--title-medium-line-height);
  letter-spacing: var(--title-medium-letter-spacing);
  color: var(--secondary);
  background-color: var(--surface-container-lowest);
  box-shadow: var(--elevation-3);
  @media (width < 600px) {
    position: relative;
    width: 100vw;
    padding: 1rem;
    right: 0;
  }
}

.thumbnails {
  width: calc(100% / 3);
  height: 100%;
  margin: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
}

.thumbnails .img {
  width: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}

.title {
  color: #fff;
  font-size: 2em;
  align-self: center;
  position: absolute;
  z-index: 10;
}

.black,
.title {
  transition: opacity 0.3s;
}

.thumbnails:hover {
  cursor: pointer;
  transform: scale(1.05);
  z-index: 20;
}

.thumbnails:hover .black,
.thumbnails:hover .title {
  opacity: 0;
}
