.h1 {
  text-align: center;
  font-weight: 400;
  font-variant-caps: all-small-caps;
  font-size: 6rem;

  .em {
    font-variant-caps: normal;
    font-size: 0.8em;
  }
}

.h2 {
  text-align: center;
  font-weight: 400;
  font-size: 2.5rem;
  margin-top: 5rem;
  margin-bottom: 0.5rem;
  font-variant-caps: all-small-caps;
}

.h3 {
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.h4 {
  text-align: center;
  font-weight: 400;
  font-size: 1.8rem;
}

.p {
  font-size: 1.6rem;
  text-align: center;
}

.smcaps {
  font-variant-caps: all-small-caps;
}

.credits {
  flex-basis: 100rem;
  margin: 2rem 0;
  font-size: 1.85rem;
  line-height: 1.2;
  padding: 1rem;
  grid-column: span 8;
  grid-row: span 10;

  &Single {
    grid-template-columns: 1;
    gap: 0 2rem;
    text-align: center;

    .dt {
      font-variant-caps: all-small-caps;
      margin-top: 1.7rem;
    }

    .dd {
      margin-top: 0.6rem;
    }
  }

  &Double {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 2rem;

    .dt {
      text-align: right;
      font-variant-caps: all-small-caps;
      margin-top: 1.7rem;
    }

    .dd {
      text-align: left;
      grid-column: 2 / 3;
      margin-top: 0.6rem;
    }

    .dt + .dd {
      margin-top: 1.7rem;
    }
  }

  &Inline {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.7rem;

    .li {
      padding: 0.3rem 0.8rem;
    }
  }

  &Music {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.7rem;

    .dl {
      text-align: center;
      padding: 0 2rem 2rem 2rem;
      flex-basis: 30rem;
    }

    .dt {
      font-style: italic;
      margin-bottom: 0.5rem;
    }

    .dd {
      font-size: 1.5rem;
    }
  }
}

.footer {
  margin: 3rem;
}
